
.ember-listview
{
	margin: 0;
	padding: 0;
	outline: none;
	cursor: default;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.ember-listview .ember-listview-item
{
	border: 1px solid #ffffff;
	list-style: none;
}
.ember-listview .selected {
	background-color: #222222;
	color: #FFFFFF;
	border: 1px solid #222222;
}
.ember-listview .head
{
	border: 1px solid #222222 !important;
}

.ember-selectview
{
	outline: false;
	cursor: default;
	border: 1px solid #222222;
	background-color: #e1e1e1;
	display: table;
	border-radius: 3px;
	width: 100%;
}
.ember-selectview-display
{
	float: left;
	padding: 1px 3px 1px 3px;
}

.ember-selectview-button
{
	float: right;
	border-left: 1px solid #222222;
	padding: 1px 3px 1px 3px;
	color: #FFFFFF;
	background-color: #222222;
	background-image: linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);
	background-image: -o-linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);
	background-image: -moz-linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);

	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.46, rgb(46,46,46)),color-stop(0.73, rgb(112,112,112)));
}

.active .ember-selectview-button
{

	background-color: #444444;
	background-image: linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);
	background-image: -o-linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);
	background-image: -moz-linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.42, rgb(112,112,112)),
		color-stop(0.73, rgb(46,46,46))
	);
}

.ember-selectview .ember-listview
{
	position: absolute;
	outline: false;
	border: 1px solid #000000;
}

.ember-menubarview
{
	border: 1px solid #222222;
	display: table;
	margin: 0px;
	padding: 0px;
}
.ember-menuview-item
{
	float: left;
	list-style: none;
	padding: 5px;
	cursor: default;
}

.ember-menupopupview
{
	background-color: #e1e1e1;
	border: 1px solid #222222;
	border-radius: 3px;
	position: absolute;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.ember-menupopupview .ember-menuview-item
{
	float: none;
	border-left: 0px;
}

.calendar-view 
{ 
    font-size: 11px; 
    width: 189px; 
    display: table; 
    border: 1px solid #c1c1c1; 
    padding: 3px; 
}
.calendar-view .days span, .calendar-view .days-week span 
{ 
    float: left; 
    list-style: none; 
    margin: 1px; 
    width: 19px; 
    padding: 2px; 
    border: 1px solid #c1c1c1; 
    text-align: right; 
    cursor: default; 
    display: table; 
    font-size: 11px; 
}
.calendar-view .days-week span 
{ 
    text-align: center; 
    color: #777; 
    font-weight: bold; 
    border: 1px solid #FFF; 
}

.calendar-view .days .selected 
{ 
    background-color: yellow; 
    border: 1px solid #c1c1c1; 
}
.calendar-view .days .day-over 
{ 
    border: 1px solid #253E5C; 
}
.calendar-view .days .not-day 
{ 
    border: 1px solid #FFFFFF; 
}
.calendar-view .calendar-controls 
{ 
    clear: both; 
    display: table; 
    padding: 2px; 
}
.calendar-view .calendar-controls a 
{ 
    border-radius: 2px; 
    font-size: 11px; 
    cursor: default; 
    float: left; 
    width: 25px; 
    text-align: center; 
}
.calendar-view .calendar-controls .today 
{ 
    width: 85px; 
    text-align: center; 
}
.calendar-view .current 
{ 
    padding: 2px; 
    border-radius: 2px; 
    font-size: 13px; 
    background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
    background-color: #009ec3; 
    color: #FFF;
    display: table; 
    margin: 2px 0 2px 0; 
    border-top: 1px solid #00B7EA;
    border-bottom: 1px solid #00B7EA; 
    text-align: center; 
    clear: both; 
    width: 100%;
}
.calendar-view .calendar-controls a:hover 
{ 
    background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); 
    background-color: #009ec3; 
    color: #FFF; 
}

.ember-slider 
{ 
    position: relative; 
    border: 1px solid #DDD;   
}
.ember-slider-knob 
{
    margin-left: -10px; 
    position: absolute; 
    height: 18px; 
    width: 18px; 
    background-color: #f1f1f1; 
    top: -5px; 
    border-radius: 3px; 
    border: 1px solid #444;
}

.ember-slider-vertical
{ 
    width: 10px; 
    height: 100%; 
}
.ember-slider-horizontal
{ 
    width: 100%; height: 10px;  
}

.ember-slider .ember-state-active 
{ 
    background-color: #c1c1c1; 
}
.ember-slider-vertical .ember-slider-knob 
{ 
    margin-left: -5px; 
    margin-top: -10px; 
}
.ember-slider .ember-slider-bar 
{ 
    position: absolute; 
    height: 100%;
    width: 100%; 
    background-color: #5AA4D7; 
}

/** SPINNER **/
.ember-spinner 
{ 
    height: 23px; 
    border: 1px solid #c1c1c1; 
    position: relative; 
    display: block; 
} 
.ember-spinner-input 
{ 
    float: left; margin: 0 15px 0 0; 
    line-height: 21px; 
    height: 21px;
    vertical-align: middle; 
    text-align: right; 
    border: 0 solid #FFFFFF;
}
.ember-spinner-buttons 
{ 
    border-left: 1px solid #ddd; 
    width: 13px; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    right: 0;  
}
.ember-spinner-up-btn, .ember-spinner-down-btn 
{  
    width: 100%; 
    cursor: default; 
    font-size: 8px; 
    text-align: center;
}
.ember-spinner-up-btn 
{
    top: 0; 
    right: 0; 
    position: absolute; 
    height: 50%; 
    border-bottom: 1px solid #ddd; 
}
.ember-spinner-down-btn 
{ 
    bottom: 0; 
    right: 0; 
    position: absolute; 
    height: 50%; 
    margin-top: 1px;
}

/** COLORPICKER **/
.ember-colorpicker 
{ 
    position: relative; 
    width: 356px; 
    height: 170px; 
    background-color: #f1f1f1; 
    border: 1px solid #222;
}
.ember-colorpicker-overlay { 
    width: 150px; 
    height: 150px; 
    position: absolute; 
    left: 10px; 
    top: 10px; 
    background-image: url(images/colorpicker_overlay.png);
    overflow: hidden;
}
.ember-colorpicker-overlay div { 
    width: 11px;
    height: 11px;
    position: absolute;
    top: 20px;
    margin-top: -5px;
    margin-left: -5px;
    background-image: url(images/colorpicker_select.gif);
}
.ember-colorpicker-hue { 
    position: absolute; 
    left: 170px; 
    top: 10px; 
    height: 150px; 
    cursor: n-resize;
    width: 18px; 
    border: 0 slid #FFF;
    background-image: url(images/colorpicker_hue.png) ;
}
.ember-colorpicker .ember-slider-bar 
{
    display: none;
}
.ember-colorpicker-hue .ember-slider-knob 
{ 
    height: 9px; 
    background-color: transparent; border-radius: 0; 
    margin-top: -5px; 
    width: 35px;
    margin-left: -8px;
    background-image: url(images/colorpicker_indic.gif);
    border: 0px solid #FFF;
}
.ember-colorpicker .labels .labels_rgb
{ 
    position: absolute;
    left: 203px;
    top: 45px;
    width: 10px;
    height: 110px;
}
.ember-colorpicker .labels .labels_hsb
{ 
    position: absolute;
    left: 278px;
    top: 45px;
    width: 10px;
    height: 80px;
}
.ember-colorpicker .labels label 
{ 
    clear: both; 
    display: block; 
    height: 30px; 
    line-height: 30px; 
    font-size: 12px;  
}

.ember-colorpicker .ember-colorpicker-rgb 
{
    width: 50px;
    top: 45px;
    left: 215px;
    position: absolute;
}
.ember-colorpicker .ember-colorpicker-hsb .ember-spinner, .ember-colorpicker .ember-colorpicker-rgb .ember-spinner 
{
    width: 52px;
    margin-bottom: 5px;
}

.ember-colorpicker .ember-colorpicker-hsb 
{
    width: 60px;
    top: 45px;
    left: 290px;
    position: absolute;
}
.ember-colorpicker .hex 
{
    position: absolute;
    top: 136px;
    left: 215px;
    width: 50px;
}
.ember-colorpicker .selected_color 
{
    position: absolute;
    top: 10px;
    left: 215px;
    height: 28px;
    width: 52px;
    border: 1px solid 
    #C1C1C1;
}

.ember-colorpicker .reset_color 
{
    position: absolute;
    top: 10px;
    left: 290px;
    height: 28px;
    width: 52px;
    border: 1px solid #C1C1C1;
}