
.ember-listview
{
	margin: 0;
	padding: 0;
	outline: none;
	cursor: default;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.ember-listview .ember-listview-item
{
	border: 1px solid #ffffff;
	list-style: none;
}
.ember-listview .selected {
	background-color: #222222;
	color: #FFFFFF;
	border: 1px solid #222222;
}
.ember-listview .head
{
	border: 1px solid #222222 !important;
}

.ember-selectview
{
	outline: false;
	cursor: default;
	border: 1px solid #222222;
	background-color: #e1e1e1;
	display: table;
	border-radius: 3px;
	width: 100%;
}
.ember-selectview-display
{
	float: left;
	padding: 1px 3px 1px 3px;
}

.ember-selectview-button
{
	float: right;
	border-left: 1px solid #222222;
	padding: 1px 3px 1px 3px;
	color: #FFFFFF;
	background-color: #222222;
	background-image: linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);
	background-image: -o-linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);
	background-image: -moz-linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(46,46,46) 46%, rgb(112,112,112) 73%);

	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.46, rgb(46,46,46)),color-stop(0.73, rgb(112,112,112)));
}

.active .ember-selectview-button
{

	background-color: #444444;
	background-image: linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);
	background-image: -o-linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);
	background-image: -moz-linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(112,112,112) 42%, rgb(46,46,46) 73%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.42, rgb(112,112,112)),
		color-stop(0.73, rgb(46,46,46))
	);
}

.ember-selectview .ember-listview
{
	position: absolute;
	outline: false;
	border: 1px solid #000000;
}

.ember-menubarview
{
	border: 1px solid #222222;
	display: table;
	margin: 0px;
	padding: 0px;
}
.ember-menuview-item
{
	float: left;
	list-style: none;
	padding: 5px;
	cursor: default;
}

.ember-menupopupview
{
	background-color: #e1e1e1;
	border: 1px solid #222222;
	border-radius: 3px;
	position: absolute;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.ember-menupopupview .ember-menuview-item
{
	float: none;
	border-left: 0px;
}